* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#content {
    width: 90%;
    padding-top: 20%;
    margin: 0 auto;
    text-align: center;
}

#view {
    text-align: center;
    font-size: 300%;
}

#answer {
    padding-top: 1em;
    padding-bottom: .5em;
    width: 10em;
    text-align: center;
    font-size: 200%;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}